{% set model_name = config.model.pretrained.name %}

{% if model_name == "ResNet18"  %}
model = models.ResNet18(
    pretrained=True,
    num_classes={{ num_classes|default(1000) }},
)
{% elif model_name == "ResNet50" %}
model = models.ResNet50(
    pretrained=True,
    num_classes={{ num_classes|default(1000) }},
)

{% elif model_name == "EfficientNet" %}
model = models.EfficientNet(
    width_mult={{ width_mult }},
    depth_mult={{ depth_mult }},
    dropout={{ dropout }}
)
{% elif model_name == "VisionTransformer" %}
model = models.VisionTransformer(
    image_size={{ image_size }},
    patch_size={{ patch_size }},
    num_layers={{ num_layers }},
    num_heads={{ num_heads }},
    hidden_dim={{ hidden_dim }}
)
{% elif model_name == "FasterRCNN" %}
model = models.FasterRCNN(
    backbone={{ backbone }},
    num_classes={{ num_classes }},
    min_size={{ min_size }},
    max_size={{ max_size }}
)
{% elif model_name == "MaskRCNN" %}
model = models.MaskRCNN(
    box_detections_per_img={{ box_detections_per_img }}
)
{% elif model_name == "DeepLabV3" %}
model = models.DeepLabV3(
    backbone='{{ backbone }}',
    atrous_rates={{ atrous_rates }},
    num_classes={{ num_classes }}
)
{% else %}
print("Unsupported model type: {{ model_name }}")
{% endif %}