transforms = [
{% for transform in config.preprocessing %}
{% set params = transform.params %}
{% if transform.name == "Spectrogram" %}
    Spectrogram(n_fft={{ params.n_fft }}, hop_length={{ params.hop_length }}, win_length={{ params.win_length }}),
{% elif transform.name == "MelSpectrogram" %}
    MelSpectrogram(sample_rate={{ params.sample_rate }}, n_fft={{ params.n_fft }}, 
                   win_length={{ params.win_length }}, hop_length={{ params.hop_length }},
                   n_mels={{ params.n_mels }}),
{% elif transform.name == "AmplitudeToDB" %}
    AmplitudeToDB(stype="{{ params.stype }}", top_db={{ params.top_db }}),
{% elif transform.name == "Speed" %}
    Speed(orig_freq={{ params.orig_freq }}, factor={{ params.factor }}),
{% elif transform.name == "Resample" %}
    Resample(orig_freq={{ params.orig_freq }}, new_freq={{ params.new_freq }}),
{% elif transform.name == "Vol" %}
    Vol(gain={{ params.gain }}, gain_type="{{ params.gain_type }}"),
{% elif transform.name == "Fade" %}
    Fade(fade_in_len={{ params.fade_in_len }}, fade_out_len={{ params.fade_out_len }}, fade_shape="{{ params.fade_shape }}"),
{% elif transform.name == "AddNoise" %}
    AddNoise(waveform={{ params.waveform }}, noise={{ params.noise }}, snr={{ params.snr }}, lengths={{ params.lengths }}),
{% elif transform.name == "Loudness" %}
    Loudness(sample_rate={{ params.sample_rate }}),
{% endif %}
{% endfor %}
]